.valid {
  outline: green 2px solid;
}

.invalid {
  outline: red 2px solid;
}

pre {
  border-radius: 2px;
  max-width: 600px;
  cursor: text;
}
code:focus {
  outline: none;
}
.buttonSection {
  display: flex;
  justify-content: space-between;
  width: 600px;
}